@import '~bootstrap-vue/dist/bootstrap-vue.css';
.imglogo{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 50px;
}
.negrito{
    font-weight:bold;
}
.center{
    text-align: center;
}